<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd"
         colors="true"
         stopOnFailure="true"
         stopOnError="true"
         stopOnWarning="true"
         failOnWarning="true"
         failOnNotice="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache">
    <coverage>
        <report>
            <clover outputFile="./tests/logs/coverage.xml"/>
            <html outputDirectory="./tests/logs/coverage"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="AcceptanceSuite">
            <directory>tests/suite/Acceptance</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxHtml outputFile="./tests/logs/testdox.html"/>
    </logging>
    <groups>
        <exclude>
            <group>skip</group>
        </exclude>
    </groups>
    <php>
        <env name="TEST_REDIS_HOST" value="dev-redis"/>
        <env name="TEST_REDIS_PORT" value="6379"/>
    </php>
    <source>
        <include>
            <directory>./src/</directory>
        </include>
    </source>
</phpunit>
